<%= render "shared/header" %>

<div class='main'>
  <div class="user-form">
    <div class="form-title">
      写真の編集
    </div>
  <%= render partial: "shared/form", locals: { photo: @photo } %>
  </div>
</div>


