<%= render "shared/header" %>

<div class="photo-infomation">
  <h3 class="photo-infomation-title">写真の情報を入力してください</h3>
  <%= render partial: "shared/form", locals: { photo: @photo } %>

</div>

<%= render "shared/footer" %>

